Libraries/
*.json
*.prefs
Configurations/
*.cproject
*.project
*.xml
*.lsl
*.log
*.lock
.metadata/
*.launch
*.d
*.o
*.elf
*.hex
*.map
*.mdf
*.mk
*.src
Kwang/Module_Dev/TriCore/ Debug (TASKING)/
makefile
*.opt
